h1, h2, h3, h4 {
  text-align: left;
  color: #49678D;
  }

  h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.1em;
  font-weight: normal;
  letter-spacing: 0.2pt;
  border-bottom: 3px solid #f0f0f2; 
  margin-top: 0;
  padding: 0 0 16px 0; 

  }

h2 {
  
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
  font-weight: 800;
  border-bottom: 3px solid #f0f0f2; 
  clear: both;
  padding: 6px 0 14px 0; 
  }

h3 {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  font-size: 1.6em;
  letter-spacing: 0.5pt;
  font-weight: 800;
  border-bottom: 2px solid #f0f0f2; 
  padding: 27px 0 13px 0; 
  }

h4 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.3em;
  letter-spacing: 0.2pt;
  font-weight: 800;
  margin-bottom: 7px;
  border-bottom: 2px solid #f0f0f2; 
  padding: 22px 0 15px 0; 
  }

#logo{                            
  font-family:Verdana, Helvetica, Arial, sans-serif;
  text-align: left;
  width: 950px;
  font-size: 0.8em;
  letter-spacing: -0.14px;
  line-height: 13pt;
  padding: 1px 30px 0 1px; 
}
img {
width: 30px;
float:left;
margin: 7px 0 0 5px;
padding: 3px 14px 0 0; 
}


form {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  text-align: left;
  font-size: 0.6em;
  overflow: hidden; 
  
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.name{
padding: 0 0 0 31px; 
margin-top:4px; 
margin-left: 2px;
margin-bottom: 15px;
vertical-align: middle;
}

.name input{
width: 150px;
margin-left: 1px;

}

.last_name{
  margin-bottom: 15px;
}

.account-info .last_name label{
  letter-spacing: 0.3px;
}

.last_name input{
width: 150px;
}

.E-Mail input{
width: 150px;

}
.account-info .E-Mail label{
  padding-left: 1px;
}

.E-Mail{
padding: 0 0 0 22px; 
margin-bottom: 15px;
}


.password{
padding: 0 0 0 12px; 
margin-bottom: 23px;
}

.password input{
width: 150px;
}

.country{
margin-left: 18px; 
margin-bottom: 16px;

}




.city{
margin-left: 28px; 

}


.school{
padding: 0 0 0 20px; 
}

.account-info .school_select{
  font-family: 'Noto Sans', sans-serif;
  padding-top: 1px;
  padding-bottom: 1px;
  width: 167px;
  font-size: 1.5em;
  letter-spacing: -0.5px;  
}

.univ_h4{
  padding-top: 0;
  padding-bottom: 13px;
  margin-top:10px;
  letter-spacing: 0.7pt;
 }

.univer{
padding: 2px 0 0 42px; 
margin-bottom: 22px;
}

.account-info  .univ_select{
  letter-spacing: -0.5px;
  font-family: 'Noto Sans', sans-serif;
  width: 167px;  
}

.account-info label {
color: #636466;
font-size: 1.3em;
text-align: right;
}



/*.account-info input {
border: 1px solid #c6c7cc;
width: 150px;
padding: 5px 0 0 25px;
}
*/
.account-info select{
  background: #fff;
  border: 1px solid #c6c7cc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
  width: 165px;
  font-size: 1.5em;
  padding: 0 1px;
 
}

cite{
  font-family: Tahoma, Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  font-style: normal;
 letter-spacing: 0.1px;
  color: #A0A0A4;
}
span{
  font-family: 'Noto Sans', sans-serif;
  padding: 0 0 0 50px; 
  font-size: 1.1em;
  font-weight: 800;
  color: #636466;
  letter-spacing: -0.5px;

  }

.account-action .btn {
  background:   #f0f0f2;
  border: 1px solid #c6c7cc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
  cursor: pointer;
  margin-top: 9px;
  margin-left: 33px;
  width: 210px;
  font-size: 1.3em;
  letter-spacing: 0.5px;
  text-align: center;
  padding-right: 12px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  color: black;
 
}

.foot{
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 0.7em;
  letter-spacing: -0.7px;
  margin-left: 30px;
  color: #A0A0A4;
  
}
.foot a{                   
  text-decoration: none;   
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-family: 'Noto Sans', sans-serif;
  color: #49678D;
  font-weight: 700;
  letter-spacing: -0.5px;

  }
